<div class="weui-grids bg-white">
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">温度</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">湿度</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">二氧化碳</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">Grid</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">Grid</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">Grid</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">Grid</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">Grid</p>
	</a>
	<a href="javascript:;" class="weui-grid">
		<div class="weui-grid__icon">
			<text class="iconfont icon-settings icon-grid" style="font-size: 2em;"></text>
		</div>
		<p class="weui-grid__label">Grid</p>
	</a>
</div>